.editor {
  background-color: $white;
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  padding: $large-space;
  width: 100%;
}

.editor__title {
  border: none;
  border-bottom: 2px solid $grey;
  font-size: $large-font-size;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-border;
}

.editor__body {

}
