.item-list {
  background-color: $white;
  border: 1px solid $grey;
  width: 100%;
  overflow-y: scroll;
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space;
}

.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding: $space;
  transition: background-color .3s ease, border-left .3s ease;
}

.item:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $grey;
}

.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;

}
